<script src="/js/quadro_notas/excluir.js"></script>
<script src="/js/quadro_notas/listar.js"></script>

<!-- Main Section -->
<div class="col-md-9">
    <section class="mb-5">
        <h4 class="text-primary">Quadro Notas</h4>

        <hr>

        <h4 class="text-primary">filtro</h4>                
        <div class="form-group form-row">
            <div class="col-md-3">
                <select class="form-control" id="slctAno">
                    <option value="" selected>nenhum</option>
                    <%for(let i=0; i < lista_anos.length; i++){%>
                        <option value="<%= lista_anos[i].id%>">
                            <%= lista_anos[i].ano_letivo%>
                        </option>
                    <%}%>
                </select>
                <label for="slctAno"><strong>Ano Letivo:</strong></label>
            </div>
            <div class="col-md-3">
                <select class="form-control" id="slctSerie">
                    <option value="" selected>nenhum</option>
                    <%for(let i=0; i < lista_series.length; i++){%>
                        <option value="<%= lista_series[i].id%>">
                            <%= lista_series[i].serie%>
                        </option>
                    <%}%>
                </select>
                <label for="slctSerie"><strong>Serie:</strong></label>
            </div>
            <div class="col-md-3">
                <select class="form-control" id="slctTurma">
                    <option value="" selected>nenhum</option>
                    <%for(let i=0; i < lista_turmas.length; i++){%>
                        <option value="<%= lista_turmas[i].id%>">
                            <%= lista_turmas[i].turma%>
                        </option>
                    <%}%>
                </select>
                <label for="slctTurma"><strong>Turma:</strong></label>
            </div>
            <div class="col-md-3">
                <select class="form-control" id="slctBimestre">
                    <option value="" selected>nenhum</option>
                    <option value="1">1º Bimestre</option>
                    <option value="2">2º Bimestre</option>
                    <option value="3">3º Bimestre</option>
                    <option value="4">4º Bimestre</option>
                </select>
                <label for="slctBimestre"><strong>Bimestre:</strong></label>
            </div>
            <div class="col-md-3">
                <select class="form-control" id="slctDisciplina">
                    <option value="" selected>nenhum</option>
                    <%for(let i=0; i < lista_disciplinas.length; i++){%>
                        <option value="<%= lista_disciplinas[i].id%>">
                            <%= lista_disciplinas[i].nome%>
                        </option>
                    <%}%>
                </select>
                <label for="slctDisciplina"><strong>Disciplina:</strong></label>
            </div>
            <div class="col-md-3">
                <button id="btn-filtrar" href="/quadro_notas/filtar" class="btn btn-info"><i class="fas fa-search"></i></button>
            </div>
        </div>

        
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th><input type="checkbox" id="ckTodos"></th>
                    <th>id do quadro</th>
                    <th>ano letivo</th>
                    <th>series</th>
                    <th>turma</th>
                    <th>bimestre</th>
                    <th>disciplina</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody id="corpoTabelaQuadro">
                <%for(let i=0; i < lista_quadro_notas.length; i++){%>
                    <tr>
                        <td><input type='checkbox' class='check_del' data-id="<%= lista_quadro_notas[i].id_quadro%>" data-name="<%= lista_quadro_notas[i].id_turma%>"></td>
                        <td><%= lista_quadro_notas[i].id_quadro%></td>
                        <td><%= lista_quadro_notas[i].nome_ano%></td>
                        <td><%= lista_quadro_notas[i].nome_serie%></td>
                        <td><%= lista_quadro_notas[i].nome_turma%></td>
                        <td><%= lista_quadro_notas[i].bimestre%></td>
                        <td><%= lista_quadro_notas[i].nome_disciplina%></td>
                        <td>
                            <a href="/quadro_notas/ver_mais/<%= lista_quadro_notas[i].id_quadro%>" class="btn btn-info">Ver mais</a>
                            <a href="/quadro_notas/editar/<%= lista_quadro_notas[i].id_quadro%>" class="btn btn-primary">
                                Editar
                            </a>
                            <button class="btn btn-danger excluir" data-id="<%= lista_quadro_notas[i].id_quadro%>" data-name="<%= lista_quadro_notas[i].id_turma%>">Excluir</button>
                        </td>
                    </tr>
                <%}%>
            </tbody>
        </table>
        <div>
            <a href="/quadro_notas/cadastrar" class="btn btn-primary">Cadastrar Quadro Notas</a>
            <input type="button" class="btn btn-danger" value="excluir selecionados" id="btnExcluirSelecionados">
        </div>
    </section>
</div>
<!-- Content End -->