
<script src="/js/validacao.js"></script>
<script src="/js/atividade/cadastro.js"></script>

    <input type="hidden" value="<%= atividade_para_alterar%>" id="hidden_atividade"> 
    <%if (typeof atividade_para_alterar == "undefined") {%>
        <!-- Main Section -->
        <div class="col-md-9">
            <!-- Formulário de Lançamento -->
            <section id="form_notas" class="mb-5">
                <h4 class="text-primary">Cadastrar Atividade</h4>

                <div class="row">
                    <div class="col-md-12 mb-3">
                        <input type="text" class="form-control" id="txtNomeAtividade" placeholder="Atividade 1" required>
                        <label for="txtNomeAtividade" class="form-label"><strong>Nome da Atividade *</strong> </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <textarea class="form-control" id="txtDescricao" style="resize: none; height: 200px;"></textarea>
                        <label for="txtDescricao" class="form-label"><strong>Descrição *</strong></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <input type="date" class="form-control" id="dtInicial">
                        <label for="dtInicial" class="form-label"><strong>Data Inicial *</strong></label>
                    </div>
                    <div class="col-md-3 mb-3">
                        <input type="date" class="form-control" id="dtFinal">
                        <label for="dtFinal" class="form-label"><strong>Data Final *</strong></label>
                    </div>
                    <label id="erro_dt" class="form-label text-danger"></label>
                </div>
                <button type="submit" class=" btn btn-primary" id="btn_cadastro">Finalizar cadastro</button>
                <a href="/atividade//P_listar" class="btn btn-dark">Retornar</a>
            
            </section>
        </div> 

    <%} else{%>

        <!-- Main Section -->
        <div class="col-md-9">
            <!-- Formulário de Lançamento -->
            <section id="form_notas" class="mb-5">
                <h4 class="text-primary">Editar Atividade</h4>

                <input type="hidden" value="<%= atividade_para_alterar.id_atividades%>" id="hidden_id">

                <div class="row">
                    <div class="col-md-12 mb-3">
                        <input type="text" class="form-control" id="txtNomeAtividade" placeholder="Atividade 1" required value="<%= atividade_para_alterar.nome%>">
                        <label for="txtNomeAtividade" class="form-label"><strong>Nome da Atividade: *</strong></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <textarea class="form-control" id="txtDescricao" style="resize: none; height: 200px;"><%= atividade_para_alterar.descricao %> </textarea>
                        <label for="txtDescricao" class="form-label"><strong>Descrição: *</strong></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <input type="date" class="form-control" id="dtInicial" value="<%= atividade_para_alterar.dt_inicio.toISOString().slice(0, 10) %>">
                        <label for="dtInicial" class="form-label"><strong>Data Inicial: *</strong></label>
                    </div>
                    <div class="col-md-3 mb-3">
                        
                        <input type="date" class="form-control" id="dtFinal" value="<%= atividade_para_alterar.dt_final.toISOString().slice(0, 10) %>">
                        <label for="dtFinal" class="form-label"><strong>Data Final: *</strong></label>
                    </div>
                    <label id="erro_dt" class="form-label text-danger"></label>
                </div>
                <button type="submit" class=" btn btn-primary" id="btn_atualizar">Finalizar edição</button>
                <a href="/atividade/P_listar" class="btn btn-dark">Retornar</a>
            
            </section>
        </div> 
    <%}%>
