<script src="/js/alunos/excluir.js"></script>
<script src="/js/alunos/cadastrar.js"></script> <!-- editar aluno -->

<div class="col-md-9">
    <section class="mb-5">
        <h4 class="text-primary">Alunos</h4>


        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>CPF</th>
                    <th>Convenio</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <%for(let i=0; i < lista_alunos.length; i++){%>
                    <tr>
                        <td>
                            <%= lista_alunos[i].cpf%>
                        </td>
                        <td>
                            <%= lista_alunos[i].convenio%>
                        </td>
                        <td>
                            <a href="/aluno/editar/<%= lista_alunos[i].cpf %>" class="btn btn-primary">
                                Editar
                            </a>

                            <button class="btn btn-danger excluir" data-cpf="<%= lista_alunos[i].cpf%>"
                                data-convenio="<%= lista_alunos[i].convenio%>">Excluir</button>
                        </td>
                    </tr>
                    <%}%>
            </tbody>
        </table>
        <div>
            <a href="/aluno/cadastrar" class="btn btn-primary">Cadastrar Aluno</a>
            <input type="button" class="btn btn-danger" value="excluir selecionados" id="btnExcluirSelecionados">
        </div>
    </section>
</div>