<script src="/js/validacao.js"></script>
<script src="/js/grade_curricular/cadastro.js"></script>

<input type="hidden" value="<%= grade_curricular_para_alterar%>" id="hidden_grade_curricular">
<%if (typeof grade_curricular_para_alterar == "undefined" ) {%>
    <!-- Main Section -->
    <div class="col-md-9">
        <!-- Formulário de Lançamento -->
        <section id="form_notas" class="mb-5">
            <h4 class="form-group text-primary">Cadastrar grade Curricular</h4>

            <div class="form-group form-row">
                <div class="col-md-12">
                    <select class="form-control" id="slctTurma">
                        <option value="" selected disabled>Selecione a turma</option>
                        <%for(let i=0; i < lista_turmas.length; i++){%>
                            <option value="<%= lista_turmas[i].id%>">
                                <%= lista_turmas[i].turma%>
                            </option>
                            <%}%>
                    </select>
                    <label for="slctTurma">Turma</label>
                </div>
            </div>

            <h4 class="text-primary">Disciplinas</h4>
            <div class="form-group">
                <button type="button" class="btn btn-success" id="btn_add_disc">Adicionar Nova Disciplina</button>
            </div>
            <select class="form-control" id="slctDisciplina_hidden" hidden>
                <option selected disabled>Selecione a Disciplina</option>
                <%for(let i=0; i < lista_disciplinas.length; i++){%>
                    <option value="<%= lista_disciplinas[i].id%>">
                        <%= lista_disciplinas[i].nome%>
                    </option>
                    <%}%>
            </select>

            <select class="form-control" id="slctProfessor_hidden" hidden>
                <option selected disabled>Selecione o Professor</option>
                <%for(let i=0; i < lista_professores.length; i++){%>
                    <option value="<%= lista_professores[i].cpf%>">
                        <%= lista_professores[i].nome%>
                    </option>
                    <%}%>
            </select>
            <div class="form-group disciplina">
            </div>

            <button type="submit" class=" btn btn-primary" id="btn_cadastro">Finalizar cadastro</button>
            <a href="/grade_curricular" class="btn btn-dark">Retornar</a>
        </section>
    </div>

<%} else{%>

    <!-- Main Section -->
    <div class="col-md-9">
        <!-- Formulário de Lançamento -->
        <section id="form_notas" class="mb-5">
            <h4 class="form-group text-primary">Editar grade Curricular</h4>

            <input type="hidden" value="<%= grade_curricular_para_alterar[0].id%>" id="hidden_id">


            <div class="form-group form-row">
                <div class="col-md-12">
                    <select class="form-control" id="slctTurma">
                        <option value="" selected disabled>Selecione a turma</option>
                        <%for(let i=0; i < lista_turmas.length; i++){%>
                            <% if (lista_turmas[i].id == grade_curricular_para_alterar[0].id_turma) { %>
                                <option value="<%= lista_turmas[i].id%>" selected>
                                    <%= lista_turmas[i].turma%>
                                </option>    
                            <% } else { %>
                                <option value="<%= lista_turmas[i].id%>">
                                    <%= lista_turmas[i].turma%>
                                </option>                            
                            <% } %>
                        <%}%>
                    </select>
                    <label for="slctTurma">Turma</label>
                </div>
            </div>

            <h4 class="text-primary">Disciplinas</h4>
            <div class="form-group">
                <button type="button" class="btn btn-success" id="btn_add_disc">Adicionar Nova Disciplina</button>
            </div>
            <select class="form-control" id="slctDisciplina_hidden" hidden>
                <option selected disabled>Selecione a Disciplina</option>
                <%for(let i=0; i < lista_disciplinas.length; i++){%>
                    <option value="<%= lista_disciplinas[i].id%>">
                        <%= lista_disciplinas[i].nome%>
                    </option>
                <%}%>
            </select>

            <select class="form-control" id="slctProfessor_hidden" hidden>
                <option selected disabled>Selecione o Professor</option>
                <%for(let i=0; i < lista_professores.length; i++){%>
                    <option value="<%= lista_professores[i].cpf%>">
                        <%= lista_professores[i].nome%>
                    </option>
                <%}%>
            </select>
            <div class="form-group disciplina">
                <% for( let i = 0; i < grade_curricular_para_alterar.length; i++ ) { %>
                    <div class="row item_disciplina justify-content-between" id="item_disciplina_<%= grade_curricular_para_alterar[i].id_item %>">
                        <div class="col-md-5">
                            <select class="form-control" id="slctDisciplina_<%= grade_curricular_para_alterar[i].id_item %>">
                                <option selected disabled>Selecione a Disciplina</option>                                
                                <%for(let j=0; j < lista_disciplinas.length; j++){%>
                                    <% if (lista_disciplinas[j].id == grade_curricular_para_alterar[i].id_disciplina) { %>
                                        <option value="<%= lista_disciplinas[j].id%>" selected>
                                            <%= lista_disciplinas[j].nome%>
                                        </option>  
                                    <% } else { %>
                                        <option value="<%= lista_disciplinas[j].id%>">
                                            <%= lista_disciplinas[j].nome%>
                                        </option>                          
                                    <% } %>
                                    
                                <%}%>
                            </select>
                            <label for="slctDisciplina_<%= grade_curricular_para_alterar[i].id_item %>">Disciplina </label>
                        </div>
                        <div class="col-md-5">
                            
    
                            <select class="form-control" id="slctProfessor_<%= grade_curricular_para_alterar[i].id_item %>">
                                <option selected disabled>Selecione o Professor</option>                                
                                <%for(let j=0; j < lista_professores.length; j++){%>
                                    <% if (lista_professores[j].cpf == grade_curricular_para_alterar[i].cpf_professor) { %>
                                        <option value="<%= lista_professores[j].cpf%>" selected>
                                            <%= lista_professores[j].nome%>
                                        </option>  
                                    <% } else { %>
                                        <option value="<%= lista_professores[j].cpf%>">
                                            <%= lista_professores[j].nome%>
                                        </option>                         
                                    <% } %>
                                <%}%>
                            </select>
                            <label for="slctProfessor_<%= grade_curricular_para_alterar[i].id_item %>">Professor </label>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-danger" data-id="<%= grade_curricular_para_alterar[i].id_item %>" id="btn_excluir_<%= grade_curricular_para_alterar[i].id_item %>">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                <% } %>

                
            </div>

            <button type="submit" class=" btn btn-primary" id="btn_atualizar">Finalizar edição</button>
            <a href="/grade_curricular" class="btn btn-dark">Retornar</a>
        </section>
    </div>
<%}%>