<script src="/js/validacao.js"></script>
<script src="/js/grade_curricular/cadastro.js"></script>

<input type="hidden" value="<%= grade_curricular_para_alterar%>" id="hidden_grade_curricular">
<%if (typeof grade_curricular_para_alterar=="undefined" ) {%>
    <!-- Main Section -->
    <div class="col-md-9">
        <!-- Formulário de Lançamento -->
        <section id="form_notas" class="mb-5">
            <h4 class="form-group text-primary">Cadastrar grade Curricular</h4>

            <div class="form-group form-row">
                <div class="col-md-12">
                    <select class="form-control" id="slctTurma">
                        <option value="" selected disabled>Selecione a turma</option>
                        <%for(let i=0; i < lista_Turma.length; i++){%>
                            <option value="<%= lista_Turma[i].id%>">
                                <%= lista_Turma[i].turma%>
                            </option>
                        <%}%>
                    </select>
                    <label for="slctTurma">Turma</label>
                </div>
            </div>

            <h4 class="text-primary">Disciplinas</h4>
            <div class="form-group">
                <button type="button" class="btn btn-success" id="btn_add_disc">Adicionar Nova Disciplina</button>
            </div>
            <div class="form-group disciplina">
                <div class="row item_disciplina justify-content-between" id="item_disciplina_0">
                    <div class="col-md-5">
                        <select class="form-control" id="slctDisciplina_0">
                            <option selected disabled>Selecione a Disciplina</option>
                            <%for(let i=0; i < lista_Disciplina.length; i++){%>
                                <option value="<%= lista_Disciplina[i].id%>">
                                    <%= lista_Disciplina[i].nome%>
                                </option>
                            <%}%>
                        </select>
                        <label for="slctDisciplina_0">Disciplina </label>
                    </div>
                    <div class="col-md-5">
                        <select class="form-control" id="slctProfessor_0">
                            <option selected disabled>Selecione o Professor</option>
                            <%for(let i=0; i < lista_Professor.length; i++){%>
                                <option value="<%= lista_Professor[i].cpf%>">
                                    <%= lista_Professor[i].nome%>
                                </option>
                            <%}%>
                        </select>
                        <label for="slctProfessor_0">Professor </label>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-danger" data-id="0" id="btn_excluir_0">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
            </div>

            <button type="submit" class=" btn btn-primary" id="btn_cadastro">Finalizar cadastro</button>
            <a href="/grade_curricular" class="btn btn-dark">Retornar</a>
        </section>
    </div>

    <%} else{%>

        <!-- Main Section -->
        <div class="col-md-9">
            <!-- Formulário de Lançamento -->
            <section id="form_notas" class="mb-5">
                <h4 class="text-primary">Editar Ano Letivo</h4>

                <input type="hidden" value="<%= grade_curricular_para_alterar.id%>" id="hidden_id">

                <div class="row">
                    <div class="col-md-3 mb-3">
                        <input type="number" class="form-control" id="txtAno" placeholder="2024"
                            value="<%= grade_curricular_para_alterar.ano_letivo%>" required>
                        <label for="txtAno" class="form-label">Ano * </label>
                    </div>
                </div>
                <button type="submit" class=" btn btn-primary" id="btn_atualizar">Finalizar Edição</button>
                <a href="/ano_letivo" class="btn btn-dark">Retornar</a>

            </section>
        </div>
    <%}%>