<div class="col-md-9">
    <section class="mb-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-primary">Perfil Aluno</h4>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="pb-2 mb-2 border-bottom">
                            <strong>Nome:</strong>
                            <%= aluno.nome %>
                        </div>
                        <div class="pb-2 mb-2 border-bottom">
                            <strong>CPF:</strong>
                            <%= aluno.cpf %>
                        </div>
                        <div class="pb-2 mb-2 border-bottom">
                            <strong>Email:</strong>
                            <%= aluno.email %>
                        </div>
                        <div class="pb-2 mb-2 border-bottom">
                            <strong>Telefone:</strong>
                            <%= aluno.telefone %>
                        </div>
                        
                        <div class="pb-2 mb-2 border-bottom">
                            <strong>Ano letivo:</strong>
                            <%= aluno.ano_letivo %>
                        </div>
                        <div class="pb-2 mb-2 border-bottom">
                            <strong>Série:</strong>
                            <%= aluno.serie %>
                        </div>
                        <div class="pb-2 mb-2 border-bottom">
                            <strong>Turma:</strong>
                            <%= aluno.turma %>
                        </div>
                        <div class="pb-2 mb-2 border-bottom">
                            <strong>Endereço:</strong><br>
                            <strong>Rua:</strong>
                            <%= aluno.rua %><br>
                            <strong>Bairro:</strong>
                            <%= aluno.bairro %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
