<div class="col-md-9">
    <section class="mb-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-primary">Perfil Professor</h4>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="pb-2 mb-2 border-bottom">
                            <strong>Nome:</strong>
                            <%= professor.nome %>
                        </div>
                        <div class="pb-2 mb-2 border-bottom">
                            <strong>CPF:</strong>
                            <%= professor.cpf %>
                        </div>
                        <div class="pb-2 mb-2 border-bottom">
                            <strong>Titulação:</strong>
                            <%= professor.titulacao %>
                        </div>
                        <div class="pb-2 mb-2 border-bottom">
                            <strong>Email:</strong>
                            <%= professor.email %>
                        </div>
                        <div class="pb-2 mb-2 border-bottom">
                            <strong>Telefone:</strong>
                            <%= professor.telefone %>
                        </div>

                        <div class="pb-2 mb-2 border-bottom">
                            <strong>Endereço:</strong><br>
                            <strong>Rua:</strong>
                            <%= professor.rua %><br>
                                <strong>Bairro:</strong>
                                <%= professor.bairro %>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</div>